/** [Fonts] *****/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/** [Vars] *****/
/** [Panels] *****/
/** [Buttons] *****/
/** [Content] *****/
/** [Base styling] *****/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: url(https://hd.unsplash.com/photo-1471123027151-b8a7acc851ce) no-repeat center center fixed;
  background-size: cover;
}

/** [Main Styling] *****/
.panel {
  font-family: 'Montserrat';
  border-radius: 3px;
}
.panel--static {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  width: 80%;
  height: 60%;
  min-height: 300px;
  background: rgba(0, 0, 0, 0.6);
  color: #ddd;
}
.panel--static .panel__content {
  padding: 3rem;
}
.panel--sliding {
  position: absolute;
  top: -5%;
  left: 4%;
  width: 50%;
  height: 110%;
  background: #fefefe;
  box-shadow: 3px -2px 6px 0px rgba(0, 0, 0, 0.4);
}
.panel--sliding .panel__content.login {
  display: none;
}
.panel__heading {
  font-size: 1.2rem;
}
.panel--sliding .panel__heading {
  color: #ff8a38;
  text-transform: uppercase;
}
.panel__copy {
  font-size: 0.7rem;
}
.panel form {
  width: 100%;
  margin-top: 2.5em;
}
.panel form .input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.4rem 0.2rem;
  font-size: 0.8rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
}
.panel form .input:focus {
  outline: 0;
}
.panel .btn {
  min-width: 120px;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
.panel .btn--primary {
  background: #ff8a38;
  color: #fefefe;
  border: 0;
}
.panel .btn--secondary {
  background: transparent;
  color: #ccc;
  border: 2px solid #ccc;
}
.panel .btn:focus {
  outline: 0;
}
.panel a,
.panel a:focus,
.panel a:visited,
.panel a:active {
  display: block;
  font-size: 0.7rem;
  text-decoration: none;
  color: #aaa;
}
