
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="boxNew detailsbox">
        <h2>300</h2>
        <div class="miniN"><span>New Complaints</span></div>

      </div>
      <div class="boxOld detailsbox">
        <h2>500</h2>
        <div class="miniP"><span>Pending Complaints</span></div>
      </div>
      <div class="boxCompleted detailsbox">
        <h2>100</h2>
        <div class="miniC"><span>Completed Complaints</span></div>
      </div>
    </div>
  </div>
</div>
