.wrapper{
  text-align: center;
  display:flex;
  flex-direction: column-reverse;
}

.box1,.box2,.box3{
  height : 50px;
  width : 200px;
  margin-top: 20px;
}


.box1 p{
  margin-top : 14px;
}

.box2 p{
  margin-top : 14px;
}
.box3 p{
  margin-top : 14px;
}

.box1:hover{
  background: grey;
}
.box2:hover{
  background: grey;
}
.box3:hover{
  background: grey;
}

.box1{
  background-color: #eee;
}
.box2{
  background-color: #eee;
}
.box3{
  background-color: #eee;
}
