<!--

<form [formGroup]="form.getForm()" (ngSubmit)="save()">
    <div class="form-group">
      <label>Old password</label>
      <input [(ngModel)]="updPass.oldpass" type="password" class="form-control" formControlName="oldpass">
      <div *ngIf="form.hasError('oldpass')" class="alert alert-danger">
        <p>Too Short!</p>
      </div>
    </div>
    <div class="form-group">
      <label>New password</label>
      <input [(ngModel)]="updPass.newpass" type="password" class="form-control" formControlName="newpass">
      <div *ngIf="form.hasError('newpass')" class="alert alert-danger">
        <p>Enter Valid Password!</p>
      </div>
    </div>
    <div class="form-group">
      <label>Confirm password</label>
      <input (ngModel)="updPass.renewpass" type="password" class="form-control" formControlName="renewpass">
      <div *ngIf="form.hasError('renewpass')" class="alert alert-danger">
        <p>Passwords Do not Match!</p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="formSubmitPass()">Submit</button>

      </div>
    </div>
</form>
<simple-notifications [options]="options"></simple-notifications> -->
<form class="form-horizontal">
  <fieldset>
    <h3>Change Password</h3>

    <form [formGroup]="form.getForm()" (ngSubmit)="save()">
      <div class="form-group">
        <label>Old Password</label>
        <input [(ngModel)]="updPass.oldpass" type="password" class="form-control" formControlName="oldpass">
        <div *ngIf="form.hasError('oldpass')" class="alert alert-danger">
          <p>Error</p>
        </div>
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input [(ngModel)]="updPass.newpass" type="password" class="form-control" formControlName="newpass">
        <div *ngIf="form.hasError('newpass')" class="alert alert-danger">
          <p>Error</p>
        </div>
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input (ngModel)="updPass.renewpass" type="password" class="form-control" formControlName="renewpass">
        <div *ngIf="form.hasError('renewpass')" class="alert alert-danger">
          <p>Passwords do not match!</p>
        </div>
      </div>


  </form>


    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-primary" (click)="passSubmit()">Submit</button>

      </div>
    </div>
  </fieldset>
</form>
<simple-notifications [options]="options"></simple-notifications>
