<body>

    <!-- Loader -->
  <!-- <div class="loader">
    <div class="loader-img"></div>
  </div> -->

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-navbar-1">
      <ul class="nav navbar-nav">
        <li><a class="scroll-link" href="#top-content">Home</a></li>
        <li><a class="scroll-link" href="#services">Services</a></li>
        <li><a class="scroll-link" href="#footer">Contact</a></li>
      </ul>
      <div class="navbar-text navbar-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-envelope"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>


      </div>
    </div>
  </div>
</nav>

    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                      <div class="logo wow fadeInDown">
                        <a href="index.html"></a>
                      </div>
                        <h1 class="wow fadeInLeftBig">ASAR</h1>
                        <div class="description wow fadeInLeftBig">
                          <p>
                            Centralised Grievance Readdressal System
                          </p>
                        </div>
                        <div class="top-big-link wow fadeInUp">
                          <a routerLink="/home" class="btn btn-link-1" >Register Complaint</a>
                          <a class="btn btn-link-2" routerLink="/admin-login">Login as Admin</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Services -->
    <div class="services-container section-container">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 services section-description wow fadeIn">
                  <h2>Our services</h2>
                  <div class="divider-1 wow fadeInUp"><span></span></div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4 services-box wow fadeInUp">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="services-box-icon">
                      <i class="fa fa-magic"></i>
                    </div>
                  </div>
                  <div class="col-sm-8">
                      <h3>Register a complaint</h3>
                      <p>Register at your fingertips with our services.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 services-box wow fadeInDown">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="services-box-icon">
                      <i class="fa fa-cog"></i>
                    </div>
                  </div>
                  <div class="col-sm-8">
                      <h3>Track status</h3>
                      <p>Real-time tracking of your complaints.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 services-box wow fadeInUp">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="services-box-icon">
                      <i class="fa fa-twitter"></i>
                    </div>
                  </div>
                  <div class="col-sm-8">
                      <h3>Problem solved</h3>
                      <p>Supporting all Municipalities around the nation, working towards an Integrated Ticketing Service</p>
                    </div>
                  </div>
                </div>
          </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer-container">
      <div class="container">
        <div class="row">

                <div class="col-sm-6 footer-left">
                  <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ53vC8FP79DkRBOfF8xwMGGY&key=AIzaSyDX8UQKKVgelKtpBW7gMDEMJnlown-S40g" allowfullscreen></iframe>
                </div>

                <div class="col-sm-5 col-sm-offset-1 footer-right">
                  <h3>Follow us</h3>
                  <div class="footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-envelope"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="footer-copyright">
                    &copy; ASAR 2017 <br>Download the app for free on <a href="#">ASAR APP</a>
                  </div>
                </div>

            </div>
      </div>

      <div class="container-fluid">
        <div class="row">
              <div class="col-sm-12 footer-bottom">
                <a class="scroll-link" href="#top-content"><i class="fa fa-chevron-up"></i></a>
              </div>
            </div>
      </div>
    </footer>



</body>
