<navbar-admin></navbar-admin>
<div class="col-lg-12">
  <h1><u>Admin Dashboard</u></h1>
</div>

<div class="container stuff">
  <div class="row">
    <div class="col-lg-6">
     <h3 >Completed Complaint by ID {{status.id}}</h3>
     <div class="card" style="width: 20rem;">
     <img class="card-img-top" src="{{status.image}}" alt="Card image cap">
     <div class="card-block">
       <h4 class="card-title">{{status.subject}}</h4>
       <p class="card-text">{{status.description}}</p>
       <a href="#" class="btn btn-primary">Go somewhere</a>
     </div>
   </div>
    </div>

    <div class="col-lg-6">
      <admin-counter></admin-counter>
    </div>
  </div>
</div>
<!--AIzaSyCjEH6zVf-NOoxdoUUK7I70PiCrpKMxHM0 -->
