<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi user</h2>
    <p>
      Please click on the link below to change your password.
      <br><br>
      Click here:
      <%=@website_link%>/<!-- Add relevant link -->/access_token=<%=@reset_password_link.access_token%>&secret_key=<%=@reset_password_link.secret_key%>
    </p>
  </body>
</html>
